<div class="new-forum-page">
  <h1>Criar Fórum para: <span class="article-name"><%= @article.name %></span></h1>
  <div class="form-container">
    <%= form_with(model: [@article, @forum], local: true) do |form| %>
      <div>
        <%= form.label :Título %>
        <%= form.text_field :title %>
      </div>
      <div>
        <%= form.label :Conteúdo %>
        <%= form.text_area :content %>
      </div>
      <div class="form-submit">
        <%= form.submit "Criar Fórum" %>
      </div>
    <% end %>
  </div>
</div>

