<div class="articles-page">
  <div class="header">
    <i class="fa-brands fa-readme"></i>
    <h1>ARTIGOS</h1>
  </div>

  <div class="search-bar">
    <form action="<%= articles_path %>" method="get">
      <input type="text" name="query" placeholder="Procurar..." class="search-input" />
      </form>
  </div>

  <% if @featured_article %>
    <div class="featured-article">
      <div class="image">
        <%= link_to image_tag(asset_path('code.jpg'), alt: "code"), articles_path(@articles.first) %>
      </div>
      <div class="content">
        <h2><%= @featured_article.name %></h2>
        <p><%= truncate(strip_tags(@featured_article_content_html), length: 200) %></p>
        <%= link_to "LEIA MAIS", article_path(@featured_article), class: "btn-read-more" %>
      </div>
    </div>
  <% end %>

  <div class="latest-articles">
    <h3>Artigos Recentes</h3>
    <div class="articles-grid">
      <% @articles.each do |article| %>
        <div class="card">
          <div class="card-image">
            <%= link_to image_tag(asset_path('ruby.png'), alt: "code"), article_path(article) %>
          </div>
          <div class="content">
            <h4><%= article.name %></h4>
            <p><%= truncate(strip_tags(@article_content_html), length: 100) %></p>
            <%= link_to "LEIA MAIS", article_path(article), class: "btn-read-more" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
