<div class="articles-page">
  <div class="header">
    <i class="fa-brands fa-readme"></i>
    <h1>ARTIGOS</h1>
  </div>

  <% if @featured_article %>
    <div class="featured-article">
      <div class="image">
        <% if @featured_article.photo.attached? %>
          <%= cl_image_tag @featured_article.photo.key, alt: "Image for featured article" %>
        <% end %>
      </div>
      <div class="content">
        <h2><%= @featured_article.name %></h2>
        <p><%= truncate(strip_tags(@featured_article_content_html), length: 200) %></p>
        <%= link_to "LEIA MAIS ", article_path(@featured_article), class: "btn-read-more" %>
      </div>
    </div>
  <% end %>

  <div class="latest-articles">
    <h3>Artigos Recentes</h3>
    <div class="articles-grid">
      <% @articles.each do |article| %>
        <div class="card">
          <div class="card-image">
            <% if article.photo.attached? %>
              <%= cl_image_tag article.photo.key, alt: "Image for article" %>
            <% end %>
          </div>
          <div class="content">
            <h4><%= article.name %></h4>
            <p><%= truncate(strip_tags(@articles_content_html[article.id]), length: 100) %></p>
            <%= link_to "LEIA MAIS", article_path(article), class: "btn-read-more" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
