<div class="article-show container">
  <!-- Autor do artigo -->
  <div class="author-section">
    <div class="avatar">
      <i class="fas fa-user-circle"></i>
    </div>
    <div class="author-info">
      <h6>Article By</h6>
      <p>Latinha</p>
    </div>
  </div>

  <!-- Título do artigo -->
  <div class="header">
    <h1><%= @article.name %></h1>
  </div>

  <!-- Imagem em destaque -->
  <div class="image">
    <%= cl_image_tag @article.photo.key, alt: "Image of the article" if @article.photo.attached? %>
  </div>

  <!-- Conteúdo completo do artigo -->
  <div class="content">
    <p><%= @content_html %></p>
  </div>

  <!-- Botão para voltar ao topo -->
  <div class="back-to-top">
    <a href="#top">
      <i class="fas fa-arrow-up"></i>
    </a>
  </div>
  <div class="actions">
    <%= link_to 'VOLTAR', articles_path, class: "btn-back" %>
  </div>
</div>
<div class="actions">
<%= link_to 'Novo Forum', new_article_forum_path(article_id: @article.id)  %>
</div>
<%@article.forums.each do |forum|  %>
<%= link_to forum.title, forum_path(forum) %>
<% end %>
