<div class="content-wrapper term-show-page">
  <div class="header">
    <h2><%= @term.name %></h2>
  </div>

  <div class="description-container">
    <p><%= @description_html %></p>
  </div>

   <div class="related-articles">
    <h3>Artigos Relacionados</h3>

    <% if @related_articles.any? %>
      <ul class="article-list">
        <% @related_articles.each do |article| %>
          <li class="article-item">
            <h4><%= link_to article.name, article_path(article), class: "article-link" %></h4>
            <p class="related-article-content">
              <%= truncate(strip_tags(@related_articles_content_html[article.id]), length: 100) %>
            </p>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>Não há artigos relacionados a este termo ainda.</p>
    <% end %>
  </div>

  <div class="actions">
    <%= link_to 'VOLTAR', terms_path, class: "btn-back" %>
  </div>
</div>
