<div class="navbar navbar-expand-sm navbar-light custom-navbar">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <!-- Home -->
        <li class="nav-item <%= 'active' if current_page?(root_path) %>">
          <a class="nav-link" href="<%= root_path %>">INÍCIO</a>
        </li>
        <!-- Articles -->
        <li class="nav-item <%= 'active' if controller_name == 'articles' %>">
          <a class="nav-link" href="<%= articles_path %>">ARTIGOS</a>
        </li>
        <!-- Terms -->
        <li class="nav-item <%= 'active' if current_page?(terms_path) %>">
          <a class="nav-link" href="<%= terms_path %>">TERMOS</a>
        </li>

       <li class="nav-item <%= 'active' if current_page?(forums_path) %>">
          <a class="nav-link" href="<%= forums_path %>" >FÓRUM</a>
        </li>
        <!-- Latinha/AI -->
        <li class="nav-item <%= 'active' if current_page?(questions_path) %>">
          <a class="nav-link" href="<%= questions_path %>">LATINHA</a>
        </li>
        <% if current_user %>
          <li class="nav-item">
            <%= link_to "LOGOUT", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link" %>
          </li>
          <li class="nav-item">
             <a class="nav-link avatar">
              <i class="fas fa-user-circle"></i>
            </a>
          </li>
        <% else %>
          <li class="nav-item">
            <a class="nav-link" href="<%= new_user_session_path %>">LOGIN</a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
